/*样式重置*/
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,span,a,img{margin: 0;padding: 0;}
a{text-decoration: none;}img{border: 0px;}li{list-style: none;}
body{background: #f1f1f1;}

/*默认样式*/
h1{font-size: 28px;}
h2{height: 36px;padding: 0 0 0 10px;overflow:hidden;font-size: 20px;font-weight:normal;line-height: 36px;color: #333;font-family: '微软雅黑';}
p,li{line-height: 24px;font-size: 14px;color: #555;}
p{padding: 5px;text-indent: 2em;}
ul{padding: 5px;}
ul li{list-style: inside;}

.row:after{content: '.';visibility: hidden;display: block;clear: both;height: 0;}
.row{}
.row .col{float: left;width: 100%;min-height: 50px;}
.row .col-50{width: 50%;}
.row .col-50 .lyrow{border-right: #cfcfcf 1px solid;}
.row .col-50 .box,.row .col-50 .wdg{border-right: #eaeaea 1px solid;}

.row .col-33{width: 33.3%;}
.row .col-25{width: 25%;}

