/**/
body{background: #f1f1f1;}
/**/
.file-btns{overflow: hidden;zoom: 1;background: #383c42;position: absolute;left:0;top:0;width: 100%;}
.file-btns .logo-sec{float: left;padding-left: 15px;height: 34px;}
.file-btns .logo-sec a{font-size: 18px;font-family: '微软雅黑';font-weight:bold;color: #fff;line-height: 34px;text-indent: -999em; }
.file-btns ul{float: right;padding: 0;}
.file-btns li{display: block;float: left;}
.file-btns li a{display: block;color: #e1e2e5;padding: 5px 8px;border-left: #3f4248 1px solid;border-right: #32353b 1px solid;font-size: 14px;font-family: '微软雅黑';}
.file-btns li a:hover{background: #25282d;border-left-color: #26282d;border-right-color: #26282d;color: #fff;text-decoration: none;}
.file-btns li a.active{background: #f1f1f1;color: #26282d;font-weight: bold;}

/*===========*/
.side-bar{position: absolute;left: 0;top: 0;width: 100px;background: #383c42;float: left;}
.side-bar .logo a{display:block;height: 34px;line-height: 34px;font-size: 24px;color: #fff;font-family: '微软雅黑';font-weight: bold;text-align: center;border-bottom: #32353b 1px solid;border-right: #32353b 1px solid;padding-bottom: 20px}
.top-nav{padding: 0;}
.top-nav li{display: block;zoom: 1;}
.top-nav li a{display: block;padding-left:20px;position: relative;height: 36px;line-height: 36px;text-align: center;zoom: 1;
	font-family: '微软雅黑';font-size: 14px;color: #fff;border-top: #3f4248 1px solid;border-bottom: #32353b 1px solid;
background:url(../img/icons.gif) 18px 0 no-repeat;}
.top-nav li .view ul li{line-height: 24px;}
.top-nav li .view ul li a{display: inline;font-weight: normal;font-size: 14px;color: #444;font-family: '宋体';border: none;padding: 0;background: none;line-height: 24px;}
.top-nav li a:hover,
.top-nav li a.open{background: #292c32 url(../img/icons.gif) 18px 0 no-repeat;border-top-color: #292c32;border-bottom-color: #282a30;text-decoration: none;}
.top-nav li .elements,.top-nav li .elements.open,.top-nav li .elements:hover{background-position: 18px -36px;}
.top-nav li .widgets,.top-nav li .widgets.open,.top-nav li .widgets:hover{background-position: 18px -72px;}

.sub-nav{padding: 0;border-bottom: #32353b 1px solid;display: none;}
.sub-nav li span{border-bottom: #3f4248 1px solid;}
.sub-nav li.last span{border-bottom: none;}
.sub-nav .lyrow,.sub-nav .box,.sub-nav .wdg{position: relative;background: #2e343b;}
.sub-nav .wdg .slider{width: 100%;}
.sub-nav .ctrl-btns{position: absolute;right: 6px;top: 8px;}
.sub-nav .ctrl-btns .edit,.sub-nav .ctrl-btns .drag,.sub-nav .ctrl-btns .remove{display: none;}
.sub-nav .ctrl-btns .drag{background: #1a1e27;font-size: 12px;color:#bbb;padding: 2px 5px;border: #161921 1px solid;float:left;cursor: pointer;line-height: 14px;}
.sub-nav .preview{display: block;padding-left:18px;height: 34px;line-height: 34px;text-align:center;font-size: 14px;font-family: '微软雅黑';color: #cfcfcf;cursor: move;}
.sub-nav .view{display: none;}
.sub-nav .view .slider ul{padding: 0;position: relative;width: 400px;height: 200px;}
.sub-nav .view .slider ul li{position: absolute;left: 0;top: 0;}
.sub-nav .view .slider ul li img{width: 400px;height: 200px;}
.sub-nav .view img{width: 400px;height: 200px;}
.sub-nav .slider li a{border: none;padding: 0;background: none;height: 200px;}

/*============*/
.doc-wrap{padding: 20px;background: #f1f1f1;margin: 34px 0 0 100px; }
.scroll{overflow-y:scroll;}
.demo{min-height: 200px;padding: 5px 15px 15px 15px;border: #ddd 1px solid;background: #f5f5f5;}

/*公共*/
.sub-nav .ui-draggable-dragging{padding:5px;border: #cacaca 1px solid;background: #dfdfdf;z-index: 999;}
.sub-nav .ui-draggable-dragging .preview{display:inline;background: none;border: none;color: #000;padding-left: 0px;}
/*.sub-nav .ui-sortable-helper .preview{display: none;}*/
.ui-draggable-dragging .remove{display: none;}
.ui-draggable-dragging .drag{right: 8px;top: 8px;background: #555;border-color: #444;}
.ui-draggable-dragging .view{ display:block;}

.demo .lyrow{position: relative;background: #eaeaea;border: #cfcfcf 1px solid;margin: 10px auto 0 auto;}
.demo .lyrow .lyrow{border-top:#cfcfcf 1px solid;}
.demo .preview{display: none;}

.demo .resizable{position: relative;}
.demo .resizable .resize-handle{border-left: #aaa 1px dashed;cursor: e-resize;position: absolute;right: 0;bottom: 0;width: 0px;height: 100%;padding: 0 2px;z-index: 999;}


.demo .ctrl-btns{position: absolute;right: 2px;top: 2px;}
.demo .ctrl-btns .edit,
.demo .ctrl-btns .remove,
.demo .ctrl-btns .drag{display: none;margin-left:2px;float:left;background:#dd7e6b;padding: 2px 5px;color: #f3f3f3;font-size: 12px;border: #c86956 1px solid;cursor: pointer;}
.demo .ctrl-btns .drag{background: #828282;border-color: #6d6d6d;display: none;}
.demo .ctrl-btns .edit{background: #78a5c9;border-color:#5089b7;display: none;}
.demo .ctrl-btns .edit:hover{background: #5790bd;border-color: #3a709b;}
.demo .remove:hover{background: #d1553d;color: #fff;border-color: #ba4832;}
.demo .drag:hover{background: #636363;color: #fff;border-color:#4c4c4c; }
.demo .show .edit,.demo .show .remove,.demo .show .drag{display: block;}
.demo .lyrow .ctrl-btns{z-index: 1000;}.demo .box .ctrl-btns,.demo .wdg .ctrl-btns{z-index: 999;}
.demo .preview{display: none;}
.demo .view img{width: 200px;height: 100px;}
.source-preview .demo .show {display: none;}



.demo .box,.demo .wdg{position: relative;border-bottom:#eaeaea 1px solid;background: #fff;}
.demo .ui-sortable-placeholder{ border: #383C42 1px dashed;visibility: visible!Important;z-index: 99;background: none;}
.row .col .ui-sortable-placeholder{border: #b0b0b0 1px dashed;}

.demo .box .remove{right: 3px;top: 3px;}
.demo .box .drag{right: 41px;top: 3px;}
.demo .wdg .remove{right: 2px;top: 2px;}
.demo .wdg .drag{right: 40px;top: 2px;}


/**/
.source-preview{background: #fff;}
.source-preview .file-btns li a.active{background: #fff;}
.source-preview .logo-sec a{text-indent: 0;}
.source-preview .doc-wrap{margin-left: 0;background: #fff;}
.source-preview .doc-wrap .demo{border: none;background: none;}
.source-preview .demo .lyrow,
.source-preview .demo .box,
.source-preview .demo .wdg{border: none;background: none;}
.source-preview .demo .resize-handle{display: none;}


.modals{position: absolute;left:0;top:0;width: 100%;height:100%;background: rgba(33, 36, 46, 0.4);display: none;z-index: 999;}
.modals .modal{background: #fff;position: absolute;left: 30%;top: 25%;box-shadow: 0px 1px 5px rgba(0,0,0,0.4);-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.4);display: none;}
.modals .modal .close{display: block;width: 15px;height: 15px;line-height:15px;border-radius:7px;color: #efefef;font-size: 10px;font-family:'微软雅黑';text-align: center;position: absolute;right: 8px;top: 8px;}
.modals .modal .close:hover{color: #fff;font-weight: bold;}
.modals .modal .tab-pane{background: #383C42;overflow: hidden;zoom: 1;padding: 0 50px 0 0;}
.modals .modal .tab-pane a{display: block;padding:0 15px;height: 30px;line-height: 30px;color: #fff;
	font-size: 16px;text-align: center;float: left;font-size: 14px;}
.modals .modal .tab-pane a.on{background: #fff;color: #555;font-weight: bold;}
.modals .modal .tab-content .tc{display: none;font-size: 14px;padding-top: 15px;min-width: 230px;}
.modals .modal .tab-content .active{display: block;}

.edit-layer table{border-collapse: collapse;width: 100%;}
.edit-layer table td{vertical-align:text-top;padding: 8px 5px 8px 15px;vertical-align: middle;border-bottom: #cfcfcf 1px solid;border-top: #cfcfcf 1px solid;
	font-size: 14px;color: #383C42;font-weight: bold;}
.edit-layer table td div{padding: 0;text-indent: 0;font-size: 12px;height: 28px;line-height: 28px;}
.edit-layer table td .float{float: left;margin-right: 10px;}
.edit-layer table label{display: block;float: left;height: 28px;line-height: 28px;color: #666;}
.edit-layer table p{margin: 0;padding: 0;float: left;position: relative;text-indent: 0;margin-top: 3px;}
.edit-layer table input{display: block;height:20px;margin: 0;padding:0;border: 0px;border: #bfbfbf 1px solid;}
.edit-layer table select{margin: 0;padding: 0;color: #555}
.edit-layer table option{color: #555;}
.edit-layer table span{display: block;width: 20px;height: 20px;border-left: #bfbfbf 1px solid;background: #cfcfcf;position: absolute;top: 1px;right: 1px;line-height: 20px;color: #777;text-align: center;}
.edit-layer table .size{width: 80px;}
.edit-layer table .color-picker{width: 60px;}
.edit-layer table .hidden{display: none;}
.edit-layer .submit{text-align: center;background: #dfdfdf;}
